
@using GridMvc.Html;

@model IEnumerable<eschool.Student_Infos>


@{
    ViewBag.Title = "Students List";
}

@*@helper CustomRenderingOfColumn()
{
    @ViewBag.Student_Filiere_Id;
}*@

<div style="float:right;margin-top:20px;">@Html.ActionLink("Create New >>", "_Create", null, new { @class = "btn btn-success btn-sm", data_toggle = "modal", data_target = "#Show_Create" })</div><br />
<fieldset>
    <legend>Student List</legend>
    @Html.Grid(Model).Columns(column =>
{
column.Add(p => p.Student_Fname)
.Titled("First Name")
.Sortable(true)
.Filterable(true);

column.Add(p => p.Student_Lname)
.Titled("Last Name")
.SetWidth(220)
.Sortable(true)
.Filterable(true);

column.Add(p => p.Student_Age)
.Titled("Age")
.Sortable(true);

column.Add(p => p.Student_Filiere.FiliereName)
.Titled("Filiere")
.Sortable(true)
.Filterable(true);

column.Add(p => p.Student_Classe.Classe_Name)
.Titled("Classe")
.Sortable(true)
.Filterable(true);

column.Add(p => p.Student_Email)
.Titled("E-mail")
.Sortable(true);

column.Add(p => p.Student_Phone)
.Titled("N° Phone")
.Sortable(true);

column.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(d =>
        @<b>
            @Html.ActionLink("Edit", "_Edit", new { id = d.Student_Id }, new { @class = "btn btn-xs btn-primary", data_toggle = "modal", data_target = "#Show_Edit" })
        </b>);

}).WithPaging(5)
</fieldset>

<div class="modal fade" id="Show_Edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:80px;">
    <div class="modal-dialog">

    </div>
</div>

<div class="modal fade" id="Show_Create" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:80px;">
    <div class="modal-dialog">


    </div>
</div>
